
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 

  /* Main Container */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f7fa;
  }
  
  h2{
    color: #333;
  }
  
  /* Main Content */
  main {
    flex: 1;
    padding: 20px;
  }
 
  