/* UserDashboard.css */

.user-dashboard {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: #333;
  background-color: #f5f7fa;
}

.user-dashboard h1 {
  font-size: 2.5em;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 1.5em;
}

.search-bar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  border: 2px solid #c5cae9;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #5c6bc0;
  outline: none;
}

.search-bar button {
  background-color: #5c6bc0;
  color: #fff;
  width: 100px;
  margin-left:0.5em; ;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #3f51b5;
}

.market-overview, .case-overview {
  margin-top: 40px;
}

.mh2 {
  font-size: 1.8em;
  color: #3a3a3a;
  border-bottom: 2px solid #5c6bc0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.grid-item {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.case-overview table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.case-overview th, .case-overview td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.case-overview th {
  background-color: #5c6bc0;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.case-overview tr:nth-child(even) {
  background-color: #f5f5f5;
}

.case-overview tr:hover {
  background-color: #e0e7ff;
}

.case-overview td {
  font-size: 0.95em;
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .user-dashboard h1 {
    font-size: 2em;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input {
    width: 100%;
  }

  .market-overview h2, .case-overview h2 {
    font-size: 1.5em;
  }
}
